
.tab-pane {
    
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}
.tab {
    
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10px 20px;
}
/* Selected Tab Styling */
.tab:selected {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-color: transparent transparent #3498db transparent;
    -fx-border-width: 0 0 2px 0;
}
.tab-pane .tab-content-area {
    -fx-background-color: transparent;
    -fx-alignment: center ;
}